In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import datetime as dt

In [2]:
df1 = pd.read_csv('brazilian_ecommerce/olist_orders_dataset.csv')
df2 = pd.read_csv('brazilian_ecommerce/olist_customers_dataset.csv')
df3 = pd.read_csv('brazilian_ecommerce/olist_order_payments_dataset.csv')

In [3]:
cols = ['customer_id', 'order_id', 'order_purchase_timestamp']
orders = df1[cols]
orders = orders.set_index('customer_id')
orders.drop_duplicates(inplace=True)

# too few 
cols = ['order_id', 'payment_value']
payment = df3[cols]
payment = payment.set_index('order_id')
payment.drop_duplicates(inplace=True)

cols = ['customer_id', 'customer_unique_id']
customers = df2[cols]
customers = customers.set_index('customer_id')

elog = pd.concat([orders,customers], axis=1, join='inner')
elog.reset_index(inplace=True)

cols = ['customer_unique_id', 'order_purchase_timestamp']
elog = elog[cols]

elog['order_purchase_timestamp'] = pd.to_datetime(elog['order_purchase_timestamp'])
elog['order_date'] = elog.order_purchase_timestamp.dt.date
elog['order_date'] = pd.to_datetime(elog['order_date'])

cols = ['customer_unique_id', 'order_date']
elog = elog[cols]

elog.columns = ['CUSTOMER_ID', 'ORDER_DATE']


elog.info()
display(elog.sample(1000))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 2 columns):
CUSTOMER_ID    99441 non-null object
ORDER_DATE     99441 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 1.5+ MB

                            CUSTOMER_ID ORDER_DATE
36260  3435ff207812c23c1b61d57b93500645 2017-02-02
90033  eb8f12dc51e3b978a66ca593ead9c28c 2018-07-06
46114  d86352edd100c4767e9d896e5727c2ee 2017-03-18
35688  97ba9c6276256eca910e8d36e78abfa8 2018-01-20
76961  6cc4314c23dcda2c625df58516cdd853 2017-11-16
...                                 ...        ...
70775  adc5def00980baefc876eb8023fb053d 2017-02-16
76902  05608ec24b6e52507bbe54dc921d3b62 2017-10-01
65871  7d486a0be548e112afa0540d337019ee 2017-10-21
14231  c03de2988b6725b520eac2f77e2b1931 2018-01-12
16632  79427e2162d316b713fc8c37a16e7fb5 2018-03-11

[1000 rows x 2 columns]

In [4]:
elog.drop_duplicates(inplace=True)

In [5]:
elog.ORDER_DATE.describe()

count                   98480
unique                    634
top       2017-11-24 00:00:00
freq                     1161
first     2016-09-04 00:00:00
last      2018-10-17 00:00:00
Name: ORDER_DATE, dtype: object

In [6]:
elog.CUSTOMER_ID.describe()

count                                98480
unique                               96096
top       8d50f5eadf50201ccdcedfb9e2ac8455
freq                                    17
Name: CUSTOMER_ID, dtype: object

In [7]:
all_data.dropna (inplace = True)

NameError: name 'all_data' is not defined

In [ ]:
all_data['order_approved_at'] = pd.to_datetime(all_data['order_approved_at'])

In [ ]:
all_data['year_order'] = all_data['order_approved_at'].dt.year

In [ ]:
all_data['month_order'] = all_data['order_approved_at'].dt.month

In [ ]:
all_data.info()

In [ ]:
print (all_data ['order_approved_at'])

In [ ]:
linear_model = smf.ols(formula = 'payment_value ~ year_order + month_order + payment_sequential + payment_installments', data = all_data)
fitted_model = linear_model.fit()
fitted_model.summary()

In [ ]:
df1 = pd.read_csv('../input/olist_orders_dataset.csv')
df2 = pd.read_csv('../input/olist_customers_dataset.csv')
df3 = pd.read_csv('../input/olist_order_payments_dataset.csv')

cols = ['customer_id', 'order_id', 'order_purchase_timestamp']
orders = df1[cols]
orders = orders.set_index('customer_id')
orders.drop_duplicates(inplace=True)

# too few 
cols = ['order_id', 'payment_value']
payment = df3[cols]
payment = payment.set_index('order_id')
payment.drop_duplicates(inplace=True)

cols = ['customer_id', 'customer_unique_id']
customers = df2[cols]
customers = customers.set_index('customer_id')

elog = pd.concat([orders,customers], axis=1, join='inner')
elog.reset_index(inplace=True)

cols = ['customer_unique_id', 'order_purchase_timestamp']
elog = elog[cols]

elog['order_purchase_timestamp'] = pd.to_datetime(elog['order_purchase_timestamp'])
elog['order_date'] = elog.order_purchase_timestamp.dt.date
elog['order_date'] = pd.to_datetime(elog['order_date'])

cols = ['customer_unique_id', 'order_date']
elog = elog[cols]

elog.columns = ['CUSTOMER_ID', 'ORDER_DATE']


elog.info()
display(elog.sample(5))

In [ ]:
customer_count = all_data.groupby('customer_unique_id').count()[['payment_value']]
customer_count.sort_values(by='payment_value', ascending=False, na_position='first')

In [ ]:
customer_count.sort_values(by='payment_value', ascending=False, na_position='first')

In [ ]:
customer_total = all_data.groupby('customer_unique_id').sum()[['payment_value']]
customer_total.sort_values(by='payment_value', ascending=False, na_position='first')

In [ ]:
customer_total = all_data.groupby('customer_unique_id').sum()[['payment_value']]

In [ ]:
all_data.insert(18, 'customer_total', value, allow_duplicates = False)

In [ ]:
linear_model = smf.ols(formula = 'payment_value ~ payment_type', data = all_data)
fitted_model = linear_model.fit()
fitted_model.summary()

In [ ]:
numeric_vars = ['month_order','payment_value','payment_installments']
ax = all_data[numeric_vars].hist(bins=10)
plt.tight_layout()

In [ ]:
customer_data = pd.merge (customer_count, all_data)
customer_data.sort_values(by='customer_id', ascending=False, na_position='first')
customer_data.tail(30)

In [ ]:
df = pd.concat([all_data,customer_count], axis=1)
df.reset_index(inplace=True)
df.head()

In [ ]:
all_data[numeric_vars].plot(kind='box')

In [ ]:
i=all_data.groupby('payment_installments').count()
i

In [ ]:
all_data['payment_installments'].hist(bins=10)
plt.tight_layout()

In [ ]:
i.plot(kind='bar').set_ylabel('order_id')

In [ ]:
i['order_id'].plot(kind='bar')